#GameContainer{
    text-align: center;
}


#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
#resetBtn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 50px;
    width: 100px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

.return{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
  }
